<!DOCTYPE html>
<html>
  <% include ../partials/header %>
  <body>
    <% include ../partials/nav %>
    <br />

    <h3>
      Results for
      <span style="color: red"><%= query %></span>
    </h3>

    <div class="row">
      <% products.forEach(product => { %>
      <div class="col">
        <div class="card" style="width: 18rem">
          <a href="/api/product/<%= product._id %>">
            <img
              class="card-img-top"
              src="<%= product._source.image %>"
              alt="Card image cap"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">Name: <%= product._source.name %></h5>
            <p class="card-text">
              Category: <%= product._source.category.name %>
            </p>
            <p class="card-text">Price: <%= product._source.price %>$</p>
            <a href="/api/product/" class="btn btn-primary">Shop</a>
          </div>
        </div>
      </div>
      <% }) %>
      <div class="col">
        <% if (!products.length) { %>
        <h3 class="text-center">Search not found</h3>
        <% } %>
      </div>
    </div>

    <% include ../partials/footer %>
  </body>
</html>
