<!DOCTYPE html>
<html>
  <% include ../partials/account %>
  <body>
    <% include ../partials/nav %> 
    <% success.forEach( message => { %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <%= message %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% }) %>
    <div class="container" style="margin-top: 10%">
      <table id="cart" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th style="width:50%">cartItem</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <% cart.items.forEach(item => { %>
          <tr>
            <td data-th="cartItem">
              <div class="row">
                <div class="col-sm-2 hidden-xs">
                  <img
                    style="height: 100px; width: 100px"
                    src="<%= item.item.image %>"
                    alt="..."
                    class="img-responsive"
                  />
                </div>
                <div class="col-sm-10" style="padding-left: 15%">
                  <h4 class="nomargin"><%= item.item.name %></h4>
                  <p></p>
                </div>
              </div>
            </td>
            <td data-th="Price">$<%= item.item.price.toFixed(2) %></td>
            <td data-th="Quantity">
              <div class="text-center"><%= item.quantity %></div>
            </td>
            <td data-th="Subtotal" class="text-center">
              $<%= item.price.toFixed(2) %>
            </td>
            <td class="actions" data-th="">
              <form
                method="POST"
                action="/cart/removeProduct/<%= item._id %>?_method=DELETE"
              >
                <button class="btn btn-danger btn-sm">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <a href="/" class="btn btn-warning">
                <i class="fa fa-angle-left"></i>
                Continue Shopping
              </a>
            </td>
            <td colspan="2" class="hidden-xs"></td>

            <td class="hidden-xs text-center">
              <strong>Total $</strong>
              <%= cart.totalPrice %>
            </td>
            <td>
              <a href="#">
                <i
                  class="far fa-credit-card fa-3x"
                  data-toggle="modal"
                  data-target="#exampleModal"
                ></i>
              </a>
            </td>
          </tr>
        </tfoot>
      </table>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Stripe Payment</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  
                  <div class="col">              
                  <div class="panel panel-default credit-card-box">
                    <div class="panel-heading display-table">
                      <div class="row display-tr">
                        <h3 class="panel-title display-td">Payment Details</h3>
                        <div class="display-td">
                          <img
                            class="img-responsive pull-right"
                            src="http://i76.imgup.net/accepted_c22e0.png"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <form role="form" id="payment-form" method="POST" action="/cart/payment">
                        <input type='hidden' name="stripeMoney" value="<%= cart.totalPrice %>" />
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="cardNumber">CARD NUMBER</label>
                              <div class="input-group">
                                <input
                                  type="tel"
                                  class="form-control"
                                  name="cardNumber"
                                  id="card"
                                  placeholder="Valid Card Number"
                                  autocomplete="cc-number"
                                  required
                                  autofocus
                                />
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <label for="cardExpiry">
                                <span class="hidden-xs">EXPIRATION</span>
                                <span class="visible-xs-inline">EXP</span>
                                DATE
                              </label>
                              <input
                                type="tel"
                                class="form-control"
                                name="cardExpiry"
                                id="card-exp"
                                placeholder="MM / YY"
                                autocomplete="cc-exp"
                                required
                              />
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="cardCVC">CV CODE</label>
                              <input
                                type="tel"
                                class="form-control"
                                name="cardCVC"
                                placeholder="CVC"
                                id="card-cvc"
                                autocomplete="cc-csc"
                                required
                              />
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col">
                            <button
                              class="btn btn-success btn-lg btn-block"
                              type="submit"
                              id="btnSubmit"
                            >
                              Start Subscription
                            </button>
                          </div>
                        </div>
                        <div class="row" style="display:none;">
                          <div class="col">
                            <p class="payment-errors"></p>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
