<% include ../partials/account %> 
<% include ../partials/nav %>

<div class="row">
  <% products.forEach( product => { %>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <a href="/api/product/">
        <img
          class="card-img-top"
          src="<%= product.image %>"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">Name: <%= product.name %></h5>
        <p class="card-text">
          Category: <%= product.category ? product.category.name :
          product.category %>
        </p>
        <p class="card-text">$ <%= product.price %></p>
        <a href="/products/<%= product.id %>" class="btn btn-primary">Shop</a>
      </div>
    </div>
  </div>
  <% }) %> 
  </div>
  
  <% if (pages > 0) { %>
  <ul class="pagination justify-content-center">
    <% if (current == 1) { %>
    <li class="disabled page-item"><a class="page-link">First</a></li>
    <% } else { %>
    <li class="page-item"><a href="/page/1" class="page-link">First</a></li>
    <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if
    (i !== 1) { %>
    <li class="disabled page-item"><a class="page-link">...</a></li>
    <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <% if
    (i == current) { %>
    <li class="active page-item"><a class="page-link"><%= i %></a></li>
    <% } else { %>
    <li><a href="/page/<%= i %>" class="page-link"><%= i %></a></li>
    <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
    <li class="disabled page-item"><a class="page-link">...</a></li>
    <% } %> <% } %> <% if (current == pages) { %>
    <li class="disabled page-item"><a class="page-link">Last</a></li>
    <% } else { %>
    <li class="page-item"><a href="/page/<%= pages %>" class="page-link">Last</a></li>
    <% } %>
  </ul>
  <% } %>
  
<% include ../partials/footer %>
